#signup-title {
  text-align: center;
}

.signup-form-profile label{
  display: flex;
  flex-direction: column;
  gap:2px;
  font-size: 0.9em;
  width: 45%;
}

.signup-form-profile input {
  width: 100%;
}

.signup-button {
  width: 45%;
}

