.post-review-modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

button[type='submit'] {
  background-color: #7E5430;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button[type='submit']:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

textarea {
  justify-content: center;
  width: 80%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.star-rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.stars {
  display: flex;
  align-items: center;
}

.stars span {
  font-size: 30px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  color: #f5c518;
}

.star-label {
  margin-left: 10px;
  font-size: 20px;
  color: black;
}