ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-link {
  list-style: none;
} 

.site-logo {
  width: 60px;
  height: 50px;
}

.home-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
  text-decoration: none;
  color: black;
}

.nav-bar-divider {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  margin-top: 1px;
  z-index: 100;
  right: 30px;
  background-color: white;
}

.profile-button {
  background-color: white;
  border: none;
  font-size: 1.5em;
  display: flex;
  cursor: pointer;
}
.profile-dropdown li {
  margin-bottom: 10px; 
  list-style: none; 
}

.profile-dropdown li:last-child {
  margin-bottom: 0; /* 去掉最后一个选项的下边距 */
}

.hidden {
  display: none;
}

.home-link span {
  font-size: 1.5em;
  padding-top: 2px;
  color: #7A542E;
  font-weight:800;
}

