
.nav-bar {
  display: flex;
  justify-content: space-around;
}



.nav-links {
  list-style: none;
  width: 10%;
  text-align: center;
  
}

.nav-link {
  text-decoration: none;
  color: black;
} 

.hidden {
  display: none;
}

