

#modal-content {
  width: 50%;
  height: fit-content;
  border-radius: 10px;
  padding-bottom: 5%;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.loginLabel {
  width: 90%;
}

.loginLabel > input {
  width: 100%;
  height:30px;
}

#login-title {
  text-align: center;
}

#login-button {
  width: 90%;
  height: 50px;
}

#login-button:disabled {
  width: 90%;
  height: 50px;
  background-color: white;
  color: gray;
  border: 1px solid gray;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

#demo-user-login {
  border: none;
  background-color: white;
  text-decoration: underline;
  margin-top: 30px;
  /* margin-left: 40%; */
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

